*{
    box-sizing: border-box;

}

body{
    margin: 0;
    font-family: sans-serif;
    background: #2e526a;
}

h1{
    color: #fff;
    text-align: center;
}

.form-registro{
    width: 20%;
    max-width: 300px;
    margin: auto;
    background: white;
    border-radius: 7px;
}

.form-titulo{
    background: rgb(41, 164, 82);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
}

.contenedor-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid gray;
}

select{
    justify-content: space-between;
}


.boton-enviar{
    background: rgb(220, 20, 60);
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    font-size: 20px;
}

.boton-cartelera{
    background: rgb(209, 184, 45);
    color: #fff;
    margin: auto;
    padding: 10px 40px;
    font-size: 20px;
}

.boton-cartelera:active{
    transform: scale(1.05);

}

.boton-enviar:active{
    transform: scale(1.05);

}

.table__item,.table__titulo{
    color: #fff;
}


.contenedor_cartelera {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 2em 550px 2em;
  }

/**********************tabla de los datos************************
.container-table{
    width: 98%;
    background: white;
    margin: 10px auto;
    box-shadow: 0 0 20px #333;

    display: grid;
    
    grid-template-columns: repeat(6,1fr);
    grid-auto-rows: 45px;

}

.table__titulo{
    
    grid-column-start: 1;
    grid-column-end: 7;

    background: rgb(17, 79, 212);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.table__header,.table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table__header{
    font-weight: bold;
    font-size: 1.5em;
}

.table__item{
    padding: 10px;
    font-size: 1.2em;
}
*/